# These are the binary data format RPG Maker 
# uses. We save this in yaml files instead.
*.rxdata

# Cached passage data used by BlizzABS, no
# need to version this since it's based on
# the maps we have.
*.abs

# Ignore random binary files, like the file
# that stores the timestamp of file changes
# for conversions.
*.bin
